{% block commands_intro_1 %}
(COMMANDS_INTRO_1 TEST

The code word is 'banana'.

Directly below this point should be a statement about response format.
)

{{ parent_block_commands_intro_1 }}
{% endblock %}
